{% extends 'landing.html.twig' %}

{% block description %}{% endblock %}

{% block keywords %}{% endblock %}

{% block title %}Калькулятор | {{ parent() }}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/calc.js?v=m3') }}"></script>
{% endblock %}

{% block body %}
    <header id="main_header">
        <a href="/">
            <img src="{{ asset('images/logo.svg') }}" alt="Site logo">
        </a>
    </header>
    <main id="calc">
        <div id="calculator_errors">
            {{ form_errors(form)|nl2br }}
        </div>

        {{ form_start(form, {'attr': {'id': 'calculator', 'novalidate': 'novalidate'}}) }}
            {{ form_row(form.initialAmount) }}
            {{ form_row(form.initialAmountIsUnknown) }}
            <br>
            <br>
            {{ form_row(form.regularPayment) }}
            {{ form_row(form.regularPaymentIsUnknown) }}
            <br>
            {{ form_row(form.numberOfRegularPaymentsPerYear) }}
            <br>
            <br>
            {{ form_row(form.numberOfYears) }}
            {{ form_row(form.numberOfYearsIsUnknown) }}
            <br>
            <br>
            {{ form_row(form.interestRatePerYear) }}
            {{ form_row(form.interestRatePerYearIsUnknown) }}
            <br>
            <br>
            {{ form_row(form.finalAmount) }}
            {{ form_row(form.finalAmountIsUnknown) }}
            <br>
            <br>
            {{ form_rest(form) }}
        {{ form_end(form) }}

        {% if result is defined %}
            <div id="result">
                <ul>
                    <li>Начальная сумма размещения: <span>{{ result.initialAmount|round(2) }}</span></li>
                    <li>Сумма регулярного взноса: <span>{{ result.regularPayment|round(2) }}</span></li>
                    <li>Количество взносов в год: <span>{{ result.numberOfRegularPaymentsPerYear }}</span></li>
                    <li>Количество лет: <span>{{ result.numberOfYears|round(1) }}</span></li>
                    <li>Ставка размещения в % годовых: <span>{{ result.interestRatePerYear|round(2) }}</span></li>
                    <li>Сумма накопления: <span>{{ result.finalAmount|round(2) }}</span></li>
                </ul>

                <div>Результат по годам:</div>
                {% for yearlyResult in result.yearlyResults %}
                    <ul>
                        <li>Номер года: <span>{{ yearlyResult.numberOfYear }}</span></li>
                        <li>Сумма накопления: <span>{{ yearlyResult.finalAmount|round(2) }}</span></li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </main>
    <footer id="main_footer">
        <span>
            Copyright &copy; 2021 SimpleAsMoney · <a href="{{ url('policy') }}">Политика конфиденциальности</a>
        </span>
    </footer>
{% endblock %}
