<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="{% apply spaceless|trim %}{% block description %}{% endblock %}{% endapply %}">
    <meta name="keywords" content="{% apply spaceless|trim %}{% block keywords %}{% endblock %}{% endapply %}">
    <title>{% block title %}SimpleAsMoney — просто, как деньги{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/favicon/android-icon-192x192.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-icon-180x180.png') }}">
    <link rel="manifest" href="{{ asset('images/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('images/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/prod/normalize.css?v=16721') }}">

        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="{{ asset('css/base.css?v=17921') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('css/prod/base.css?v=17921') }}">
        {% endif %}
    {% endblock %}

    {% if app.environment == 'prod' %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(83012716, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/83012716" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1201696886908141');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1201696886908141&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    {% endif %}
</head>
<body>
    <header id="main_header">
        <a id="logo" href="{{ url('static_homepage') }}">
            <img src="{{ asset('images/logo.svg') }}" alt="SimpleAsMoney site logo">
        </a>

        <a id="menu-control"
           href="javascript://"
           v-bind:class="{ active: menuIsActive }"
           v-on:click.prevent="toggleMenu()"
        >
            <ion-icon name="menu-outline"></ion-icon>
        </a>

        <div id="menu" v-bind:class="{ active: menuIsActive }">
            <nav>
                {% if app.request.get('_route') == 'static_homepage' %}
                    <a href="{{ url('static_homepage') }}" class="active">Главная страница</a>
                {% else %}
                    <a href="{{ url('static_homepage') }}">Главная страница</a>
                {% endif %}

                <div class="soon">
                    <a  href="javascript://">Всё об инвестициях</a>
                    <small>скоро на сайте</small>
                </div>

                {% if app.request.get('_route') == 'static_calculator' %}
                    <a href="{{ url('static_calculator') }}" class="active">Инвестиционный калькулятор</a>
                {% else %}
                    <a href="{{ url('static_calculator') }}">Инвестиционный калькулятор</a>
                {% endif %}
            </nav>
        </div>

        <div id="menu-placeholder" v-bind:class="{ active: menuIsActive }" v-on:click.prevent="closeMenu()"></div>
    </header>

    <main>
        {% block main %}{% endblock main %}
    </main>

    <footer id="main_footer">
        <span>Copyright &copy; SimpleAsMoney 2021. Все права защищены.</span>
        {% block footer_menu %}
            <a href="{{ url('static_policy') }}">Политика конфиденциальности</a>
        {% endblock %}
    </footer>

    {% block js %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        {% if app.environment == 'dev' %}
            <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
            <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
            <script src="https://unpkg.com/vue@3.1.4/dist/vue.global.js"></script>
            <script src="{{ asset('js/base.js?v=30821') }}"></script>
        {% else %}
            <script src="https://unpkg.com/@popperjs/core@2"></script>
            <script src="https://unpkg.com/tippy.js@6"></script>
            <script src="{{ asset('js/prod/vue.global.prod.js?v=3.1.4-1') }}"></script>
            <script src="{{ asset('js/prod/base.prod.js?v=30821') }}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>
