{% extends 'base.html.twig' %}

{% block description %}
    Калькулятор для расчета своей инвестиционной стратегии с учетом инфляции.
{% endblock %}

{% block keywords %}
    инвестиции, калькулятор, расчет, накопление, использование, инфляция
{% endblock %}

{% block title %}Инвестиционный калькулятор | {{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="{{ asset('css/calculator.css?v=3821') }}">
        <link rel="stylesheet" media="print" href="{{ asset('css/calculator-print.css?v=3821') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/prod/calculator.css?v=3821') }}">
        <link rel="stylesheet" media="print" href="{{ asset('css/prod/calculator-print.css?v=3821') }}">
    {% endif %}
{% endblock %}

{% block main %}
    <h1>
        Инвестиционный калькулятор
        <small>
            <a href="https://youtu.be/1J9188mr5-Q" target="_blank">
                Видео-инструкция
                <ion-icon name="logo-youtube"></ion-icon>
                <ion-icon name="open-outline"></ion-icon>
            </a>
        </small>
    </h1>

    <nav>
        <a href="#income" v-bind:class="{ active: icIsActive }" @click.prevent="activeIncomeCalculator">
            накопление
        </a>
        <div class="separator"></div>
        <a href="#spend" v-bind:class="{ active: scIsActive }" @click.prevent="activeSpendCalculator">
            использование
        </a>
        <div class="separator not-for-mobile"></div>
        <a href="#spend" class="not-for-mobile" v-bind:class="{ active: chartIsActive }" @click.prevent="activeChart">
            график
        </a>
    </nav>

    <section id="control">
        <label for="currency" style="display: inline-block; width: 0; height: 0; overflow: hidden;">Валюта</label>
        <select id="currency" form="income-form" v-on:change="changeCurrency($event)">
            <option value="1">USD, $</option>
            <option value="2">EURO, €</option>
            <option value="3">RUB, ₽</option>
        </select>
        <label for="plan-name" style="display: inline-block; width: 0; height: 0; overflow: hidden;">Название плана</label>
        <input id="plan-name" type="text" placeholder="Название плана" form="income-form">
        <div id="print">
            <a href="javascript:print();">Распечатать/Сохранить в PDF</a>
            <a href="javascript://;" v-on:click.prevent="fullClear()">Сбросить</a>
        </div>
        <time>{{ "now"|date("d.m.Y") }}</time>
    </section>

    <section id="chart" style="display: none;" v-show="chartIsActive">
        <h2>График накопления/использования</h2>

        <div id="chart-item"></div>
    </section>

    <section class="calculator" id="income" v-show="icIsActive">
        <h2>Расчет накопления</h2>

        <form id="income-form" v-on:submit.prevent="doIncomeCalc">
            <div class="form-row"
                 v-bind:class="{ disabled: icInitialAmountIsUnknown, focused: icInitialAmountIsFocused }"
            >
                <label class="field-label" for="ic-initial-amount">
                    Начальная сумма размещения
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Сумма инвестиций, которая у вас уже есть сегодня. Может быть равна 0"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: icInitialAmountIsUnknown }"
                           v-on:click.prevent="changeIcInitialAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icInitialAmountIsUnknown">
                        <ion-icon name="square-outline" v-show="!icInitialAmountIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="icInitialAmountIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-initial-amount"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setIcInitialAmountValue($event.target.value)"
                       v-on:focus="icInitialAmountIsFocused = true"
                       v-on:focusout="icInitialAmountIsFocused = false"
                       v-bind:value="icInitialAmountValue"
                       v-bind:readonly="icInitialAmountIsUnknown"
                       v-bind:required="icInitialAmountIsRequired"
                       v-bind:class="{ blink: icInitialAmountIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icRegularPaymentIsUnknown, focused: icRegularPaymentIsFocused }"
            >
                <label class="field-label" for="ic-regular-payment">
                    Сумма регулярного взноса
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Сумма, на которую вы планируете регулярно пополнять свой инвестиционный
                          счет. Может быть равна 0"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: icRegularPaymentIsUnknown }"
                           v-on:click.prevent="changeIcRegularPaymentUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icRegularPaymentIsUnknown">
                        <ion-icon name="square-outline" v-show="!icRegularPaymentIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="icRegularPaymentIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-regular-payment"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setIcRegularPaymentValue($event.target.value)"
                       v-on:focus="icRegularPaymentIsFocused = true"
                       v-on:focusout="icRegularPaymentIsFocused = false"
                       v-bind:value="icRegularPaymentValue"
                       v-bind:readonly="icRegularPaymentIsUnknown"
                       v-bind:required="icRegularPaymentIsRequired"
                       v-bind:class="{ blink: icRegularPaymentIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ focused: icNumberOfRegularPaymentsPerYearIsFocused }"
            >
                <label class="field-label" for="ic-number-of-regular-payments-per-year">
                    Количество взносов в год
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Количество раз в год, которое вы будете вносить сумму регулярного взноса
                          на счет. Например, 12 раз – это ежемесячно, а 4 – ежеквартально"
                ></ion-icon>
                <input class="field"
                       id="ic-number-of-regular-payments-per-year"
                       type="number"
                       min="0"
                       step="1"
                       v-on:input.prevent="setIcNumberOfRegularPaymentsPerYearValue($event.target.value)"
                       v-on:focus="icNumberOfRegularPaymentsPerYearIsFocused = true"
                       v-on:focusout="icNumberOfRegularPaymentsPerYearIsFocused = false"
                       v-bind:value="icNumberOfRegularPaymentsPerYearValue"
                       v-bind:class="{ blink: icNumberOfRegularPaymentsPerYearIsBlinked }"
                       required
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icNumberOfYearsIsUnknown, focused: icNumberOfYearsIsFocused }"
            >
                <label class="field-label" for="ic-number-of-years">
                    Количество лет
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Сколько лет вы планируете формировать свой портфель"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: icNumberOfYearsIsUnknown }"
                           v-on:click.prevent="changeIcNumberOfYearsUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icNumberOfYearsIsUnknown">
                        <ion-icon name="square-outline" v-show="!icNumberOfYearsIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="icNumberOfYearsIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-number-of-years"
                       type="number"
                       min="1"
                       step="1"
                       v-on:input.prevent="setIcNumberOfYearsValue($event.target.value)"
                       v-on:focus="icNumberOfYearsIsFocused = true"
                       v-on:focusout="icNumberOfYearsIsFocused = false"
                       v-bind:value="icNumberOfYearsValue"
                       v-bind:readonly="icNumberOfYearsIsUnknown"
                       v-bind:required="icNumberOfYearsIsRequired"
                       v-bind:class="{ blink: icNumberOfYearsIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icInterestRatePerYearIsUnknown, focused: icInterestRatePerYearIsFocused }"
            >
                <label class="field-label" for="ic-interest-rate-per-year">
                    Ставка размещения в % годовых
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Примерная средняя доходность в процентах годовых, под которую вы
                          рассчитываете размещать свои деньги"
                ></ion-icon>
{#                <div class="unknown">#}
{#                    <label v-bind:class="{ checked: icInterestRatePerYearIsUnknown }"#}
{#                           v-on:click.prevent="changeIcInterestRatePerYearUnknowing"#}
{#                    >#}
{#                        <input type="checkbox" v-bind:checked="icInterestRatePerYearIsUnknown">#}
{#                        <ion-icon name="square-outline" v-show="!icInterestRatePerYearIsUnknown"></ion-icon>#}
{#                        <ion-icon name="checkmark-outline" v-show="icInterestRatePerYearIsUnknown"></ion-icon>#}
{#                        <span>неизвестная величина</span>#}
{#                    </label>#}
{#                </div>#}
                <input class="field"
                       id="ic-interest-rate-per-year"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setIcInterestRatePerYearValue($event.target.value)"
                       v-on:focus="icInterestRatePerYearIsFocused = true"
                       v-on:focusout="icInterestRatePerYearIsFocused = false"
                       v-bind:value="icInterestRatePerYearValue"
                       v-bind:readonly="icInterestRatePerYearIsUnknown"
                       v-bind:required="icInterestRatePerYearIsRequired"
                       v-bind:class="{ blink: icInterestRatePerYearIsBlinked }"
                >
            </div>

            <div class="form-row"
                 v-bind:class="{ disabled: icFinalAmountIsUnknown, focused: icFinalAmountIsFocused }"
            >
                <label class="field-label" for="ic-final-amount">
                    Сумма накопления
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Сумма, которую вы будете иметь на счету по результатам инвестиций"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: icFinalAmountIsUnknown }"
                           v-on:click.prevent="changeIcFinalAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="icFinalAmountIsUnknown">
                        <ion-icon name="square-outline" v-show="!icFinalAmountIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="icFinalAmountIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="ic-final-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setIcFinalAmountValue($event.target.value)"
                       v-on:focus="icFinalAmountIsFocused = true"
                       v-on:focusout="icFinalAmountIsFocused = false"
                       v-bind:value="icFinalAmountValue"
                       v-bind:readonly="icFinalAmountIsUnknown"
                       v-bind:required="icFinalAmountIsRequired"
                       v-bind:class="{ blink: icFinalAmountIsBlinked }"
                >
            </div>

            <ul class="errors" style="display: none;" v-show="icIsErrorResult">
                <li v-for="error in icErrors">${ error }</li>
            </ul>

            <div class="submit" v-bind:class="{ disabled: icCalculationIsDisabled }">
                <div class="copy">
                    <a href="javascript://"
                       style="display: none;"
                       v-show="icCopyIsEnabled"
                       v-on:click.prevent="copyIcToSc()"
                    >
                        Скопировать в Использование
                    </a>
                </div>
                <div class="button">
                    <button type="submit" v-on:click="doIncomeSubmit($event)">
                        Рассчитать
                    </button>
                </div>
                <div class="info">
                    <small>выберите неизвестную величину</small>
                </div>
            </div>
        </form>
    </section>

    <section class="calculator" id="spend" style="display: none;" v-show="scIsActive">
        <h2>Расчет использования</h2>

        <form id="spend-form" v-on:submit.prevent="doSpendCalc">
            <div class="col-1 row-1 form-row"
                 v-bind:class="{ disabled: scInitialAmountIsUnknown, focused: scInitialAmountIsFocused }"
            >
                <label class="field-label" for="sc-initial-amount">
                    Начальная сумма
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Тот размер инвестиционного портфеля, который должен у вас быть к тому
                          моменту, когда вы начнете тратить деньги"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: scInitialAmountIsUnknown }"
                           v-on:click.prevent="changeScInitialAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scInitialAmountIsUnknown">
                        <ion-icon name="square-outline" v-show="!scInitialAmountIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="scInitialAmountIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-initial-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScInitialAmountValue($event.target.value)"
                       v-on:focus="scInitialAmountIsFocused = true"
                       v-on:focusout="scInitialAmountIsFocused = false"
                       v-bind:value="scInitialAmountValue"
                       v-bind:readonly="scInitialAmountIsUnknown"
                       v-bind:required="scInitialAmountIsRequired"
                       v-bind:class="{ blink: scInitialAmountIsBlinked }"
                >
            </div>

            <div class="col-1 row-2 form-row"
                 v-bind:class="{ disabled: scPaymentAmountIsUnknown, focused: scPaymentAmountIsFocused }"
            >
                <label class="field-label" for="sc-payment-amount">
                    Сумма выплаты
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Сумма, которую вы будете получать с заданной регулярностью и с учетом
                          указанной вами инфляции"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: scPaymentAmountIsUnknown }"
                           v-on:click.prevent="changeScPaymentAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scPaymentAmountIsUnknown">
                        <ion-icon name="square-outline" v-show="!scPaymentAmountIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="scPaymentAmountIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-payment-amount"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScPaymentAmountValue($event.target.value)"
                       v-on:focus="scPaymentAmountIsFocused = true"
                       v-on:focusout="scPaymentAmountIsFocused = false"
                       v-bind:value="scPaymentAmountValue"
                       v-bind:readonly="scPaymentAmountIsUnknown"
                       v-bind:required="scPaymentAmountIsRequired"
                       v-bind:class="{ blink: scPaymentAmountIsBlinked }"
                >
            </div>

            <div class="col-1 row-3 form-row" v-bind:class="{ focused: scNumberOfPaymentsPerYearIsFocused }">
                <label class="field-label" for="sc-number-of-payments-per-year">
                    Количество выплат в год
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Периодичность, с которой вы будете получать выплаты.
                          Например, 12 – это ежемесячно, а 4 – ежеквартально"
                ></ion-icon>
                <input class="field"
                       id="sc-number-of-payments-per-year"
                       type="number"
                       min="1"
                       step="1"
                       v-on:input.prevent="setScNumberOfPaymentsPerYearValue($event.target.value)"
                       v-on:focus="scNumberOfPaymentsPerYearIsFocused = true"
                       v-on:focusout="scNumberOfPaymentsPerYearIsFocused = false"
                       v-bind:value="scNumberOfPaymentsPerYearValue"
                       v-bind:class="{ blink: scNumberOfPaymentsPerYearIsBlinked }"
                       required
                >
            </div>

            <div class="col-1 row-4 form-row"
                 v-bind:class="{ disabled: scNumberOfYearsIsUnknown, focused: scNumberOfYearsIsFocused }"
            >
                <label class="field-label" for="sc-number-of-years">
                    Количество лет
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Срок, в течение которого вы планируете получать регулярные выплаты"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: scNumberOfYearsIsUnknown }"
                           v-on:click.prevent="changeScNumberOfYearsUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scNumberOfYearsIsUnknown">
                        <ion-icon name="square-outline" v-show="!scNumberOfYearsIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="scNumberOfYearsIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-number-of-years"
                       type="number"
                       min="1"
                       step="1"
                       v-on:input.prevent="setScNumberOfYearsValue($event.target.value)"
                       v-on:focus="scNumberOfYearsIsFocused = true"
                       v-on:focusout="scNumberOfYearsIsFocused = false"
                       v-bind:value="scNumberOfYearsValue"
                       v-bind:readonly="scNumberOfYearsIsUnknown"
                       v-bind:required="scNumberOfYearsIsRequired"
                       v-bind:class="{ blink: scNumberOfYearsIsBlinked }"
                >
            </div>

            <div class="col-2 row-1 form-row"
                 v-bind:class="{ disabled: scInterestRatePerYearIsUnknown, focused: scInterestRatePerYearIsFocused }"
            >
                <label class="field-label" for="sc-interest-rate-per-year">
                    Ставка размещения в % годовых
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Примерная средняя доходность в процентах годовых, под которую вы
                          рассчитываете размещать свои деньги"
                ></ion-icon>
{#                <div class="unknown">#}
{#                    <label v-bind:class="{ checked: scInterestRatePerYearIsUnknown }"#}
{#                           v-on:click.prevent="changeScInterestRatePerYearUnknowing"#}
{#                    >#}
{#                        <input type="checkbox" v-bind:checked="scInterestRatePerYearIsUnknown">#}
{#                        <ion-icon name="square-outline" v-show="!scInterestRatePerYearIsUnknown"></ion-icon>#}
{#                        <ion-icon name="checkmark-outline" v-show="scInterestRatePerYearIsUnknown"></ion-icon>#}
{#                        <span>неизвестная величина</span>#}
{#                    </label>#}
{#                </div>#}
                <input class="field"
                       id="sc-interest-rate-per-year"
                       type="number"
                       min="0.01"
                       step="0.01"
                       v-on:input.prevent="setScInterestRatePerYearValue($event.target.value)"
                       v-on:focus="scInterestRatePerYearIsFocused = true"
                       v-on:focusout="scInterestRatePerYearIsFocused = false"
                       v-bind:value="scInterestRatePerYearValue"
                       v-bind:readonly="scInterestRatePerYearIsUnknown"
                       v-bind:required="scInterestRatePerYearIsRequired"
                       v-bind:class="{ blink: scInterestRatePerYearIsBlinked }"
                >
            </div>

            <div class="col-2 row-2 form-row" v-bind:class="{ focused: scInflationIsFocused }">
                <label class="field-label" for="sc-inflation">
                    Инфляция в % годовых
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-allowHtml="true"
                          data-tippy-content="Размер предполагаемой вами инфляции"
                ></ion-icon>
                <input class="field"
                       id="sc-inflation"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setScInflationValue($event.target.value)"
                       v-on:focus="scInflationIsFocused = true"
                       v-on:focusout="scInflationIsFocused = false"
                       v-bind:value="scInflationValue"
                       v-bind:class="{ blink: scInflationIsBlinked }"
                       required
                >
            </div>

            <div class="col-2 row-3 form-row" v-bind:class="{ focused: scNumberOfYearsUntilFistPaymentIsFocused }">
                <label class="field-label" for="sc-number-of-years-until-first-payment">
                    Количество лет до первой выплаты:
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Это срок, как правило, от сегодняшнего дня, через который вы начнете не
                          формировать свой портфель, а использовать его"
                ></ion-icon>
                <input class="field"
                       id="sc-number-of-years-until-first-payment"
                       type="number"
                       min="0"
                       step="1"
                       v-on:input.prevent="setScNumberOfYearsUntilFistPaymentValue($event.target.value)"
                       v-on:focus="scNumberOfYearsUntilFistPaymentIsFocused = true"
                       v-on:focusout="scNumberOfYearsUntilFistPaymentIsFocused = false"
                       v-bind:value="scNumberOfYearsUntilFistPaymentValue"
                       v-bind:class="{ blink: scNumberOfYearsUntilFistPaymentIsBlinked }"
                       required
                >
            </div>

            <div class="col-2 row-4 form-row"
                 v-bind:class="{ disabled: scFinalAmountIsUnknown, focused: scFinalAmountIsFocused }"
            >
                <label class="field-label" for="sc-final-amount">
                    Конечная сумма
                </label>
                <ion-icon name="help-circle-outline"
                          data-tippy-content="Сумма, которая останется у вас на счету после того, как вы получите все
                          выплаты, которые указали в расчете"
                ></ion-icon>
                <div class="unknown">
                    <label v-bind:class="{ checked: scFinalAmountIsUnknown }"
                           v-on:click.prevent="changeScFinalAmountUnknowing"
                    >
                        <input type="checkbox" v-bind:checked="scFinalAmountIsUnknown">
                        <ion-icon name="square-outline" v-show="!scFinalAmountIsUnknown"></ion-icon>
                        <ion-icon name="checkmark-outline" v-show="scFinalAmountIsUnknown"></ion-icon>
                        <span>неизвестная величина</span>
                    </label>
                </div>
                <input class="field"
                       id="sc-final-amount"
                       type="number"
                       min="0"
                       step="0.01"
                       v-on:input.prevent="setScFinalAmountValue($event.target.value)"
                       v-on:focus="scFinalAmountIsFocused = true"
                       v-on:focusout="scFinalAmountIsFocused = false"
                       v-bind:value="scFinalAmountValue"
                       v-bind:readonly="scFinalAmountIsUnknown"
                       v-bind:required="scFinalAmountIsRequired"
                       v-bind:class="{ blink: scFinalAmountIsBlinked }"
                >
            </div>

            <ul class="col-1 row-5 errors" style="display: none;" v-show="scIsErrorResult">
                <li v-for="error in scErrors">${ error }</li>
            </ul>

            <div class="submit col-2 row-5" v-bind:class="{ disabled: scCalculationIsDisabled }">
                <div class="copy">
                    <a href="javascript://"
                       style="display: none;"
                       v-show="scCopyIsEnabled"
                       v-on:click.prevent="copyScToIc()"
                    >
                        Скопировать в Накопление
                    </a>
                </div>
                <div class="button">
                    <button type="submit" v-on:click="doSpendSubmit($event)">
                        Рассчитать
                    </button>
                </div>
                <div class="info" >
                    <small>выберите неизвестную величину</small>
                </div>
            </div>
        </form>
    </section>
{% endblock main %}

{% block js %}
    {{ parent() }}

    <script src="{{ asset('js/prod/axios.min.js?v=0.21.1-1') }}"></script>
    <script src="{{ asset('js/prod/apexcharts.js?v=3.27.2-1') }}"></script>

    {% if app.environment == 'dev' %}
        <script src="https://unpkg.com/vue@3.1.4/dist/vue.global.js"></script>
        <script src="{{ asset('js/calculator.js?v=3821') }}"></script>
    {% else %}
        <script src="{{ asset('js/prod/vue.global.prod.js?v=3.1.4-1') }}"></script>
        <script src="{{ asset('js/prod/calculator.prod.js?v=3821') }}"></script>
    {% endif %}
{% endblock %}
