{% extends 'base.html.twig' %}

{% block description %}
    Ресурс, на котором рассказывается о зарубежном подходе управления деньгами, постановке и достижении финансовых целей.
{% endblock %}

{% block keywords %}
    финансы, деньги, просто, управление, зарубежный подход, как работает, продукт, хороший, плохой, во что вкладываться
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage.css?v=10721b') }}">
{% endblock %}

{% block main %}
    <article>
        <h1>
            Личные финансы - это сильно проще,
            <small>чем Вы можете себе представить</small>
        </h1>
        <p>
            И для того, чтобы правильно управлять своими деньгами не нужно проводить дни напролет у
            монитора или торговых терминалов. Весь зарубежный мир живёт по этим правилам и люди прекрасно
            справляются со своими задачами, достигают целей. В России же этой культуры пока нет.
            Мы решили исправить эту ситуацию и запускаем ресурс, на котором будем рассказывать о том,
            как на самом деле все работает. Вы сможете легко отличать хороший финансовый продукт от плохого,
            и понять во что вам вкладываться, а во что - нет.
        </p>
    </article>
    <div id="forbes_list">
        <span>Читайте мои статьи на <i>Forbes</i></span>
        <ul>
            <li>
                <a href="https://www.forbes.ru/finansy-i-investicii/422651-cena-straha-pochemu-luchshe-vseh-investiruyut-mertvye-i-neaktivnye"
                   target="_blank">
                    Цена страха: почему лучше всех инвестируют мертвые и неактивные инвесторы
                </a>
            </li>
            <li>
                <a href="https://www.forbes.ru/finansy-i-investicii/425123-ipo-s-nulevoy-summoy-kto-platit-za-prazdnik-dohodnostey-na-rynke"
                   target="_blank">
                    IPO с нулевой суммой: кто платит за праздник доходностей на рынке первичных размещений
                </a>
            </li>
            <li>
                <a href="https://www.forbes.ru/finansy-i-investicii/428267-glupost-ili-genialnost-pochemu-pokupka-kartinki-v-internete-za-693-mln"
                   target="_blank">
                    Глупость или гениальность: почему покупка картинки в интернете за $69,3 млн может стать
                    лучшей инвестиционной идеей
                </a>
            </li>
            <li>
                <a href="https://www.forbes.ru/finansy-i-investicii/431781-guru-iz-socsetey-pochemu-investoram-bolshe-ne-nuzhny-znaniya-ob"
                   target="_blank">
                    Гуру из соцсетей: почему инвесторам больше не нужны знания об экономической теории и рынках
                </a>
            </li>
            <li>
                <a href="https://www.forbes.ru/finansy-i-investicii/433605-pismo-budushchemu-sebe-kak-ne-popast-v-emocionalnye-lovushki-na-fondovom"
                   target="_blank">
                    Письмо будущему себе: как не попасть в эмоциональные ловушки на фондовом рынке, чтобы не прогореть
                </a>
            </li>
        </ul>
    </div>
    <address>
        Финансовый консультант,<br>кандидат экономических наук
        <a href="https://www.instagram.com/simpleasmoney/" rel="author" target="_blank">
            Вадим Погосьян
        </a>
    </address>
    <div id="vadim">
        <img srcset="{{ asset('images/vadim-886.png') }} 886w, {{ asset('images/vadim-575.png') }} 575w"
             sizes="(min-width: 1200px) 886px, 575px"
             src="{{ asset('images/vadim-886.png') }}"
             alt="Vadim Pogosyan photo"
        >
    </div>
{% endblock main %}
